.story-comments-wrap {
    max-width: 1350px;
    margin: 0 auto;
}

.back-link {
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    padding: 17px 0;
}

.back-link > * {
    color: rgb(255, 59, 34);
}

.details-comments-wrap {
    background-color: rgb(194, 236, 255);
    padding-bottom: 1em;
    transition: .5s ease;
}

.details-comm-wrap-dark {
    background-color: rgb(43, 43, 45);
}

.details-comments-wrap > .comments-exist {
    font-size: 22px;
    font-weight: bold;
    color: rgb(71, 102, 131);
    margin: 0;
    padding: 15px;
    text-align: center;
    background-color: rgb(194, 236, 255);
    pointer-events: none;
    transition: .5s ease;
}

.details-comm-wrap-dark > .comments-exist {
    color:rgb(136, 148, 163);;
    background-color:rgb(43, 43, 45);
}

.fake-story-comm-details {
    position: relative;
    margin: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(148, 230, 255);
}

.fake-story-comm-det-dark {
    background-color: rgb(62, 62, 65);
}