.story-comment-top-wrap {
    font-family: 'Oswald', sans-serif;
}

.story-comment-top-wrap > h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1340px) {
    .story-comment-top-wrap > h2 {
        font-size: 17px;
    }
}